.card {
  overflow: hidden;
  transition: .25s box-shadow;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-block {
  padding: 10px;
}

.style_prevu_kit
{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);

}
.style_prevu_kit:hover
{
  box-shadow: 0px 0px 80px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}


.logo-bottom {
  position: relative;
  height: 100px;
  width: 100px;
}

.logo-bottom img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat-suporte {
  position: absolute;
  display:block;
  cursor: pointer;
  color: #FFF;
  bottom: 0;
  right: 50px;
  font-weight: bold;
}

.chat-suporte a {
  position: relative;
  bottom: 0;
  font-size: 26px;
}

.color-email {
  color: #dae4ea;
}

.unimake-pane {
  background: #34495e;
}

.unimake-tab {
  background: #2f5779;
}

.unimake-button {
  background: #2c3e50 !important ;
  color: #FFF;
}

.unimake-button button:hover {color: #FFF !important;}

#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
<<<<<<< HEAD:trunk/site/assets/css/justsave.css
  background:url("../../assets/img/loading/loading.gif") no-repeat center center rgba(255,255,255, 1.0)
=======
  background:url("http://www.akj.com/wp-content/themes/akj/images/loading.gif") no-repeat center center rgba(255,255,255, 1.0)
>>>>>>> acf8bd1096e2e13befcdcd36263d913d2751769a:trunk/assets/css/justsave.css
}

.slider {
  width: 100%;
  height: 600px !important;
}

.sliderMobile {
  width: 100%;
  height: 250px !important;
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  filter:none !important;
  background-image:none;
  outline: 0;
  opacity: 1;
}

.clients {
  height: 100px;
  position: relative;
}

.buton-card {
  background: #48cfad;
}

.gray-pane{
  background: #f9f9f3;
}


.card-image {
  height: 200px !important;
}

.slide-image {
  height: 500px !important;
<<<<<<< HEAD:trunk/site/assets/css/justsave.css
}

.slide-imageMobile {
  height: 250px !important;
}

.logo
{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}


.logo:hover
{
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.slider-clients img {
  width:  180px !important;
  height: 100px !important;
}

.helper {
  display: block;
  height: 100%;
  padding: 80px 0;
  vertical-align: middle;
}

.helper img {
  vertical-align: middle;
}


/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
  position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url('../../assets/img/b05.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
.jssora22l.jssora22lds      (disabled)
.jssora22r.jssora22rds      (disabled)
*/
.jssora22l, .jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url('../../assets/img/a22.png') center center no-repeat;
  overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
.jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }


.slide-main {
  position: relative;
  margin: 0 auto;
  top:  0px;
  left: 0px;
  width: 1300px;
  height: 500px;
  overflow: hidden;
  visibility: hidden;
}

.slide-loading {
  position:absolute;
  top:0px;
  left:0px;
  background-color:rgba(0,0,0,0.7);
}

.slide-loading-filter {
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide-loading-gif {
  position:absolute;
  display:block;
  background:url('../../assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
}

.slide-main-inner {
  cursor:default;
  position:relative;
  top:0px;
  left:0px;
  width:1300px;
  height:500px;
  overflow:hidden;
}

.slide-navigator {
  bottom:16px;
  right:16px;
}

.slide-proto {
  width:16px;
  height:16px;
}

.slide-arrowleft {
  top:0px;
  left:8px;
  width:40px;
  height:58px;
}

.slide-arrowright {
  top:0px;
  right:8px;
  width:40px;
  height:58px;
}

.div-main {
  overflow-x: hidden !important;
}


.menu-flutuante {
    display: block ;
    position: absolute !important;
    float: right !important;
    top: 30%;
    right: 0;
    width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden !important;
    transition: .2s;
    z-index: 99 !important;
}

.menu-flutuante .c-compreja,
.menu-flutuante .c-download {
    font-size: 0
}

.menu-flutuante .col-md-6 {
    display: inline-block;
    float: none
}

.menu-flutuante.fixed {
    position: fixed !important;
    right: 0;
    top: 170px !important;
}

.menu-flutuante h1 {
    color: #fff;
    font-size: 14px
}

.menu-flutuante span {
    background-color: #fff;
    padding: 5px 0;
    width: 80px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px
}

.menu-flutuante .c-download {
    background-color: #34495e;
    padding: 15px
}

.menu-flutuante .c-download span {
    color: #34495e;
    display: inline-block !important;
    text-align:center !important;
}

.menu-flutuante .c-compreja {
    background-color: #2b3d4f;
    padding: 15px
}

.menu-flutuante .c-compreja span {
    color: #2b3d4f
    display: inline-block !important;
    text-align:center !important;
}

.menu-flutuante a:hover span {
    color: #065a7a
}

.menu-flutuante:hover {
    width: 150px;
    transition: .2s
}



.range-slider {
  margin: 15px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.contato{
  left: 20px;
}

.atendimento {
  right: 20px;
=======
}

.slide-imageMobile {
  height: 250px !important;
}

.logo
{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}


.logo:hover
{
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.slider-clients img {
  width:  180px !important;
  height: 100px !important;
}

.helper {
    display: block;
    height: 100%;
    padding: 80px 0;
    vertical-align: middle;
}

.helper img {
    vertical-align: middle;
>>>>>>> acf8bd1096e2e13befcdcd36263d913d2751769a:trunk/assets/css/justsave.css
}
